<h1>Well done!</h1>

<h3>Your code was generated successfuly!</h3>


<p>We just send you the code to {{recoveryCode.email}} which expires on: {{recoveryCode.expire}}</p>


<a href="/">Back to main</a>