<div class="products">
    <h1>Products list</h1>
    {{#each products}}
    <article class="articles">
        <h2>{{this.title}}</h2>
        <img src={{this.thumbnail}} alt="">
        <h3>Price: {{this.price}}</h4>
        <p>Stock: {{this.stock}}</p>
    </article>
    {{/each}}
</div>
