<h1>Profile</h1>
<div>
    <h2>Name: {{user.firstName}}</h2>
    <h2>Lastname: {{user.lastName}}</h2>
    <h2>Email: {{user.email}}</h2>
    <h3>Rol: {{user.rol}}</h3>
</div>
<div>
<a href="/session/products">Have a look on our products</a>
</div>

<a href="/session/logout">Logout</a>