<h1>Recovery password</h1>
<form action='/session/recover-pass' method='POST'>
  <input type='text' name='email' placeholder='email' />
  <input type='submit' value='Send' />
</form>
<div>
<div>
<p>Method to recover your password! </p>
<p>I remember my password <span><a href="/">back to home</a></span></p>
</div>